<a href="https://colab.research.google.com/github/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/ProyectoPhytonGrupo7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green>Tabla de contenido</font>

[1. Identificaci√≥n del problema](#problema)

[2. Planteamiento de Preguntas](#preguntas)

[3. Colecci√≥n de Datos](#datos)

[4. An√°lisis Exploratorio de nuestro Dataset](#analisis)

[5. Limpieza de datos y agregaciones](#limpieza)

[6. Automatizaci√≥n y APIs](#API)

[7. Transformaci√≥n, filtraci√≥n y ordenamiento de datos](#ordenar)

[8. Planes a futuro](#futuro)

<a id="problema"></a>
# <font color=green>Identificaci√≥n del Problema</font>

Para cualquier nuevo emprendedor, existe una serie de retos que lo abruman en su aventura de iniciar un nuevo negocio. La mayor incertidumbre es poder disponer de la informaci√≥n necesaria que lo apoye en la toma correcta de decisiones y as√≠ mitigar los riesgos de una mala inversi√≥n de tiempo y dinero.

Para esto, ser√≠a de gran ayuda proveerle a cada emprendedor de herramientas que le aporten informaci√≥n ordenada, certera y fidedigna; de tal forma que le otorgue seguridad y mayor certeza de si su idea ser√° rentable o no.

Por lo tanto, sin lugar a duda, la **ciencia de datos** es la mejor herramienta que permitir√≠a la creaci√≥n de este tipo de herramientas de apoyo para un emprendedor y su nuevo negocio.

## Investigaci√≥n al respecto del problema

En esta secci√≥n ira la investigaci√≥n

## B√∫squeda de soluciones anteriores

En esta secci√≥n ir√° las soluciones previas

<a id="preguntas"></a>
# <font color=green>Planteamiento de Preguntas </font>

De acuerdo con el problema planteado anteriormente, surgieron las siguientes preguntas tanto del emprendedor como del equipo:

1.  ¬øCu√°l es la mejor ubicaci√≥n en Guadalajara, M√©xico para abrir mi negocio de bicicletas?
2. ¬øQu√© tantas ventas podr√© obtener en los primeros meses de iniciado mi negocio?
3. ¬øCu√°les son los productos m√°s demandados por los potenciales clientes?
4. ¬øQu√© precios ser√°n los m√°s competitivos para las bicicletas?
5. ¬øQu√© tan frecuente un cliente querr√° comprar ropa o accesorios para sus bicicletas?
6. ¬øQu√© tantos clientes acudir√°n a mi negocio por una reparaci√≥n o mejora en su bicicleta?

Aunque no tenemos seguridad si podremos responder todas las preguntas planteadas, se le coment√≥ al emprendedor que se har√° un an√°lisis de la data disponible y se evaluar√° que informaci√≥n se le puede presentar.

<a id="datos"></a>
# <font color=green>Colecci√≥n de Datos</font>
Se tomo la decision de usar "Bike Buyers 1000" y "Bike Sales", dado que contienen informacion relevante a la problematica sobre la cual se esta tratando y ambos datasets se complementan, los cuales fueron encontrados en kaggle.

"Bike Buyers 1000" 
link: "https://www.kaggle.com/datasets/heeraldedhia/bike-buyers"

"Bike Sales"
link: "https://www.kaggle.com/datasets/liyingiris90/bike-sales"

## Proceso para obtener el dataset

Dado que los archivos contenidos dentro del conjunto de datos de Bike Sales estan en formato .xlsx, se uso la funcion <font color =red> *pd.read_excel* </font> de pandas.

Para Bike Buyers al ser un formato csv, se usa nuestra funcion ya conocida  <font color =red> *pd.read_csv*</font>

Se importan las siguientes librerias...

In [1]:
import pandas as pd
import numpy as np

Se guardan los respectivos DataFrames del conjunto de datos <font color=blue> "bike sales"</font> y <font color=blue> "bike buyers"

In [2]:
compradores = pd.read_csv("https://raw.githubusercontent.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/bike_buyers.csv")

In [3]:
bikes = pd.read_excel('https://github.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/bikes.xlsx?raw=true')
bikestores = pd.read_excel("https://github.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/bikeshops.xlsx?raw=true")
orders = pd.read_excel("https://github.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/orders.xlsx?raw=true")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Procedemos a revisar cada DataFrame usando <font color=blue> .head() </font> y <font color=blue>.tail()  </font>, asi como <font color=blue> .dtypes, .columns, .shape, .loc[$n:m$] </font> (donde $n,m ‚àà ùñ≠$ y $n<m.$)

In [ ]:
compradores.dtypes #Se tienen flotantes que deberian de ser enteros.
compradores.shape #Se tienen 1000 entradas y 13 columnas.
compradores.columns # ID, Marital S, Gender, Income, Children, Education, Occupation, Home Owner, Cars, Commute Distance, Region, Age, purchase bike
compradores.head() # Se observan NaNs
compradores.tail() # Se observan NaNs
c=list(compradores.columns) # Se guarda el nombre de las columnas en una lista, que sera usada mas adelante para cambiar los nombres de nuestro dataframe. 
compradores.loc[500:515] # Se observan Nans.

In [ ]:
bikes.dtypes # El unico data que parecer ser incorrecto es el precio, que es de tipo int. 
bikes.shape # Se tienen un total de 97 filas con 5 columnas
bikes.columns # bike.id, model, category1, category2, frame, price. Se renombraran columnas.
bikes.head() #No se observan Nans.
bikes.tail() #No se observan Nans.
bc=list(bikes.columns)
bikes.loc[46:58] # No se observan Nans de forma aleatoria

In [ ]:
bikestores.dtypes # Todos los datos tienen el tipo correcto.
bikestores.shape # Se tienen un total de 30 filas con 6 columnas
bikestores.columns # bikeshop.id , bikeshop.name, bikeshop.city, bikeshop.state, latitude , longitude. Se renombraran columnas.
bikestores.head() # No se observan Nans.
bikestores.tail() # No se observan Nans.
bs=list(bikestores.columns)
bikestores.loc[10:25] #No se observan Nans.

In [ ]:
orders.dtypes # Se observa que order.id, order.line, customer.id y product.id son de tipo flotante cuando deberian de ser de tipo entero.
orders.shape # Tiene un total de 15644 filas y 7 columnas. 
orders.columns #'Unnamed: 0', 'order.id', 'order.line', 'order.date', 'customer.id','product.id' y 'quantity'. Se renombraran las columnas.
oc=list(orders.columns) 
orders.head() #No se observan Nans, por otro lado, se observa que la columna 'Unnamed: 0' esta repetida. 
orders.tail() # No se observan Nans. 
orders.loc[10468:10480] # no se observan Nans.

Se crean diccionarios para cambiar el nombre de las columnas de nuestros data frames.

In [99]:
comp_names = {c[0]:'id_comprador',
              c[1]:'estado_civil',
              c[2]:'genero',
              c[3]:'sueldo',
              c[4]:'hijos',
              c[5]:'educacion',
              c[6]:"profesion",
              c[7]:"posee_casa",
              c[8]:'autos',
              c[9]:'distancia_d_viaje',
              c[10]:'region',
              c[11]:'edad',
              c[12]:'bicicleta_adquirida'}

bike_names = {bc[0]:'id_bicicleta',
              bc[1]:'modelo',
              bc[2]:'categoria_1',
              bc[3]:'categoria_2',
              bc[4]:'aleacion',
              bc[5]:'precio'}

stores_nombres = {bs[0]:'id_tienda',
                  bs[1]:'nombre_tienda',
                  bs[2]:'ciudad',
                  bs[3]:'estado',
                  bs[4]:'latitud',
                  bs[5]:'longitud'}

orders_nombres = {oc[1]:'id_orden',
                  oc[2]:'orden_line',
                  oc[3]:'orden_date',
                  oc[4]:'id_tienda',
                  oc[5]:'id_bicicleta',
                  oc[6]:'numero_items'}

Nos percatamos del hecho, de que la columna customer_id es realmente el id_tienda. Dado que ambas coinciden con el numero de entradas y los valores asociados a cada una.

In [74]:
print(orders['customer.id'].unique().max() )# Customer id es realmente bikeshop_id
print(orders['customer.id'].unique().min() ) # Minimo en la lista.
print(len(orders['customer.id'].unique()) ) # Tama√±o de la lista.

30.0
1.0
30

#Renombramos las columnas en los DataFrames.

In [92]:
compradores = compradores.rename(columns=comp_names)
ordenes = orders.rename(columns=orders_nombres)
bicicletas = bikes.rename(columns=bike_names)
tiendas =  bikestores.rename(columns=stores_nombres)

#Se analizan los datos unicos de cada columna y se omiten las redundantes.

In [ ]:
print(list(compradores['coches'].unique())) #0,1,2,3,4
print(list(compradores['distancia_d_viaje'].unique())) #0-1, 1-2, 2-5, 5-10, 10+ 
print(list(compradores['edad'].unique())) # Se tiene un intervalo de edad de [25,89]
print(compradores['edad'].max()) #min 25 max 89 
print( len(list(compradores['educacion'].unique())))# 5 nivels de estudio. Donde el mas bajo no termino la prepa y el mas alto tiene un titulo. #'Bachelors', 'Partial College', 'High School', 'Partial High School', 'Graduate Degree'
print(len( list(compradores['profesion'].unique())))# 5 profesiones #'Skilled Manual', 'Clerical', 'Professional', 'Manual', 'Management'
print(list(compradores['region'].unique())) #'Europe', 'Pacific', 'North America'
print(list(compradores['sueldo'].unique())) # Se tienen sueldos dentro del rango [10000,170000]
print(compradores['sueldo'].min()) # max 170,000, min 10,000

In [ ]:
print(list( ordenes['numero_items'].unique() )) # Se compran de 1 - 10 items. 
print(list( ordenes['orden_line'].unique() )) # Se realizan un maximo de 30 ordenes por cliente. [1,30]

In [ ]:
print(list( bicicletas['aleacion'].unique() )) #'Carbon', 'Aluminum'
print(list( bicicletas['categoria_1'].unique() )) # 'Road', 'Mountain'
print(len( list( bicicletas['categoria_2'].unique() ))) #Se tienen 9 categorias 2  # 'Elite Road', 'Endurance Road', 'Triathalon', 'Cyclocross', 'Over Mountain', 'Cross Country Race', 'Fat Bike', 'Trail', 'Sport'
print(len(list( bicicletas['modelo'].unique() ))) # Se tienen 97 modelos
print(list( bicicletas['precio'].unique() )) # El precio se encuentra dentro del rango [415,12790]
print(bicicletas['precio'].max()) #min 415 / max 12790

In [ ]:
print(len( list( tiendas['ciudad'].unique() ))) # Se tiene un total de 30 ciudades  #'Pittsburgh', 'Ithaca', 'Columbus', 'Detroit', 'Cincinnati', 'Louisville', 'Nashville', 'Denver', 'Minneapolis', 'Kansas City', 'New York', 'Dallas', 'Oklahoma City', 'Albuquerque', 'Austin', 'Phoenix', 'Las Vegas', 'Los Angeles', 'San Francisco', 'Portland', 'Seattle', 'Ann Arbor', 'Philadelphia', 'Providence', 'New Orleans', 'Miami', 'San Antonio', 'Wichita', 'Indianapolis', 'Tampa'
print(len(list( tiendas['estado'].unique() )))# 21 estados # 'PA', 'NY', 'OH', 'MI', 'KY', 'TN', 'CO', 'MN', 'KS', 'TX', 'OK', 'NM', 'AZ', 'NV', 'CA', 'OR', 'WA', 'RI', 'LA', 'FL', 'IN'
print(len(list( tiendas['nombre_tienda'].unique() )))# y 30 tiendas. # 'Pittsburgh Mountain Machines', 'Ithaca Mountain Climbers', 'Columbus Race Equipment', 'Detroit Cycles', 'Cincinnati Speed', 'Louisville Race Equipment', 'Nashville Cruisers', 'Denver Bike Shop', 'Minneapolis Bike Shop', 'Kansas City 29ers', 'New York Cycles', 'Dallas Cycles', 'Oklahoma City Race Equipment', 'Albuquerque Cycles', 'Austin Cruisers', 'Phoenix Bi-peds', 'Las Vegas Cycles', 'Los Angeles Cycles', 'San Francisco Cruisers', 'Portland Bi-peds', 'Seattle Race Equipment', 'Ann Arbor Speed', 'Philadelphia Bike Shop', 'Providence Bi-peds', 'New Orleans Velocipedes', 'Miami Race Equipment', 'San Antonio Bike Shop', 'Wichita Speed', 'Indianapolis Velocipedes', 'Tampa 29ers'

<a id="analisis"></a>
# <font color=green>An√°lisis Exploratorio de nuestro Dataset</font>

En esta secci√≥n se busco responder las siguientes preguntas:

1. ¬øEl conjunto de datos que tengo realmente me sirve para responder algunas de las preguntas que me plante√©?

> Luego de un primer analisis, se encontr√≥ que los DataSets si pueden responder algunas de las preguntas planteadas. Sobre todo aquellas que se refieren economicamente. Es decir, se puede responder el numero de ventas iniciales por mes, el precio mas vendido, asi como los modelos mas demandados en bicletas, y sus caracteristicas que las componen.

2. ¬øQu√© tama√±o tiene mi conjunto de datos? ¬øSer√°n datos suficientes?

> El tama√±o del dataset "bike sales" es lo suficientemente grande para obtener informacion relevante. Dado que esta compuesto por 15644 ordenes, que componen alrededor de 4 a√±os. 

>Mientras que los diferentes tipos de bicletas dan un total de 97. Aparte, hay 30 tiendas distribuidas en diferentes regiones del mundo. Y se tienen 1000 entradas respecto a clientes. Aun que no todos compraron bicicletas.

3. ¬øQu√© columnas tengo y qu√© informaci√≥n tengo en cada una de esas columnas?

> Se tienen alrededor de 31 columnas juntando todos los DataFrames. 

> Para los compadores tenemos estado Civil (Soltero o Casado), genero(Masculino o Femenino), sueldo (Este se encuentra entre 10,000 y 170,000 mensuales), hijos (De 0 a 4), educacion (Se tienen 5 niveles de estudio, donde el mas bajo no termino la prepa y el mas alto cuenta con un titulo.), profesion (Se tiene 5 profesiones), posesion de casa(Si/No), autos(De 0 a 4), distancia de viaje (0-10 millas), region (Europa, Norte America y el Pacifico), edad (La edad oscila entre 25 y 89 a√±os) y compra de bicleta (Si/No).

> Para bicicletas se tiene la id, Modelo (Se tienen 97 modelos), categoria 1 (Urbana o Monta√±a), categoria 2 (Se tiene 9 Categorias), aleacion(Carbon o Aluminio), precio(Osila entre los 415 y 12,790 dolares).

> Para las tiendas se tiene el id, nombre de la tienda, ciudad (Se tienen 30 ciudades), estado (21 estados), latitud y longitud. 

> Para las ordenes tenemos id, linea de orden, fecha de orden, id tienda, id bicicleta, cantidad comprada(Se han comprado hasta 10 bicicletas por orden). 

4. Los nombres que tienen mis columnas, ¬øson el nombre m√°s apropiado?
> Inicialmente los datos vienen en ingles, ademas, las columnas estan escritas usando un formato distinto a *snake_case*. Por lo que se toma la decision de renombrar las columnas usando *snake_case* y traduciendolas en espa√±ol. 

5. ¬øQu√© tipos de datos tengo en cada columna? ¬øParecen ser el tipo correcto de datos? ¬øO es un tipo de datos "incorrecto"?
> Algunas columnas presentan datos de tipo flotante cuando debiesen de ser de tipo int. Y viceversa. Por lo que se cambian los tipos de datos en cada DataFrame correspondiente.

6. Si selecciono algunas filas al azar y las observo, ¬øestoy obteniendo los datos que deber√≠a? ¬øo hay datos que parecen estar "sucios" o "incorrectos"?
> Tras aplicar .head(), .tail(), .loc[n,m]. Se observa que el unico DataFrame que presenta NaNs es el de "Bike Buyers". Posteriormente se usaron las funciones *numero_nans* y *porcentaje_nans* para verificar que DataFrames realmente contenian NaNs y cuantas de cada columnas.

<a id="limpieza"></a>
# <font color=green> Limpieza de datos y agregaciones </font>

En esta secci√≥n hicimos una limpieza de nuestros dataSets. Para ello, se sigueron los siguientes pasos:

1. Encontrar los NaNs que contiene
> Se crean funciones para determinar NaNs entre los distintos DataFrames.
Tras realizar este metodo a nuestro primer data frame ("Bike Sales") nos damos cuenta que este no presenta Nans. Mientras que nuestro segundo data frame ("Bike Buyers 1000") si presenta Nans. 

2. ¬øQu√© se hicieron con los NaNs?

> Para nuestro DataFrame "Bike Buyers 1000", se tienen un total de 53 NaNs, que representa al 5.3% de los datos. Tras aplicar nuestra funcion *numero_nans* observamos que hay en hijos, autos, estado_civil, genero, sueldo, posee_casa y edad.

> Para las filas con Nans de las columnas hijos y coches, estas seran llenadas con 0s. Mientras que para posee_casa y estado civil, con No y Single respectivamente. El resto de las filas con Nans seran eliminadas del DataFrame.  

> Finalmente nos queda un data frame con el 97.7% de nuestro conjunto de datos inicial.
  
3. Reindexo del DataSet

>Se hace uso del metodo *.reset_index(drop=True)* dado que no se necesita el indice de nuestro DataFrame "compradores". Dado que se tiene la columna id_comprador que es independiente al indice del DataFrame. 

4. Agregaciones al DataFrame

Se crean las siguientes funciones para determinar NaNs entre los distintos DataFrames.

In [86]:
def numero_nans(dataframe):
    print(dataframe.isna().sum())

In [87]:
def porcentaje_nans(dataframe):
  print(dataframe.isna().sum()/len(dataframe)*100)

In [119]:
porcentaje_nans(ordenes)
porcentaje_nans(tiendas)
porcentaje_nans(bicicletas)
porcentaje_nans(compradores) #El unico DataFrame con Nans presentes, es el de Compradores.

Unnamed: 0      0.0
id_orden        0.0
orden_line      0.0
orden_date      0.0
id_tienda       0.0
bike_id         0.0
numero_items    0.0
dtype: float64
id_tienda        0.0
nombre_tienda    0.0
ciudad           0.0
estado           0.0
latitud          0.0
longitud         0.0
dtype: float64
bike_id        0.0
modelo         0.0
categoria_1    0.0
categoria_2    0.0
aleacion       0.0
precio         0.0
dtype: float64
id_comprador           0.0
estado_civil           0.7
genero                 1.1
sueldo                 0.6
hijos                  0.8
educacion              0.0
profesion              0.0
posee_casa             0.4
coches                 0.9
distancia_d_viaje      0.0
region                 0.0
edad                   0.8
bicicleta_adquirida    0.0
dtype: float64

In [120]:
numero_nans(compradores)

id_comprador            0
estado_civil            7
genero                 11
sueldo                  6
hijos                   8
educacion               0
profesion               0
posee_casa              4
coches                  9
distancia_d_viaje       0
region                  0
edad                    8
bicicleta_adquirida     0
dtype: int64

Se llanan las Nans.

In [121]:
compradores[['hijos','coches']] = compradores[['hijos','coches']].fillna(0)
compradores['estado_civil'] = compradores['estado_civil'].fillna('Single')
compradores['posee_casa'] = compradores['posee_casa'].fillna('No')
compradores =compradores.dropna(how='any')
#numero_nans(compradores)
compradores = compradores.reset_index(drop=True)

In [122]:
numero_nans(compradores)

id_comprador           0
estado_civil           0
genero                 0
sueldo                 0
hijos                  0
educacion              0
profesion              0
posee_casa             0
coches                 0
distancia_d_viaje      0
region                 0
edad                   0
bicicleta_adquirida    0
dtype: int64

#Se procede a cambiar el tipo de dato de cada DataFrame.

Para esto crearemos diccionarios con los nuevos tipos de datos y aplicaremos la funcion de pandas *.astype()*

In [ ]:
print(ordenes.dtypes) # Tiene flotantes que deben de ser enteros. 
print(tiendas.dtypes) # Tiendas tiene todos los tipos de datos correctos.
print(compradores.dtypes) # Tiene flotantes que deben de ser enteros. 
print(bicicletas.dtypes) # Tiene un int que deberia de ser flotante.

In [123]:
c=list(compradores.columns)
oc=list(ordenes.columns)
nuevos_types_compra = {c[4]:int,
         c[8]:int,
         c[11]:int}

new_types_orders ={oc[1]:int,
                   oc[2]:int,
                   oc[4]:int,
                   oc[5]:int,
                   oc[6]:int}

In [128]:
ordenes = ordenes.astype(new_types_orders)
compradores = compradores.astype(nuevos_types_compra)
bicicletas['precio'] = bicicletas['precio'].astype(float) # Se usa este metodo, dado que solo hay que cambiar de tipo de dato a una variable.

##Procederemos a eliminar la columna 'Unnamed: 0' del DataFrame ordenes

In [ ]:
ordenes.drop(columns='Unnamed: 0',inplace=True)

#Agregaciones

In [ ]:
compradores.groupby(['bicicleta_adquirida','genero','']).size()

bicicleta_adquirida  genero
No                   Female    250
                     Male      258
Yes                  Female    236
                     Male      233
dtype: int64

In [ ]:
compradores.groupby(['genero','estado_civil'],dropna=False).size()

genero  estado_civil
Female  Married         108
        Single          130
        NaN               1
Male    Married         120
        Single          115
        NaN               4
NaN     Married           1
        Single            2
dtype: int64

<a id="API"></a>
# <font color=green> Automatizaci√≥n y APIs </font>

Dado que se encontr√≥ un API interesante para el problema que se pelante√≥, se decici√≥ usar uno y aplicar los pasos requeridos en esta secci√≥n, asi como el mismo analisis que se aplic√≥ en las secciones nateriores. Para esto, se siguieron los siguientes pasos:

1. Encontrar el API
2. Leer la documentaci√≥n
3. Realizar algunas peticiones de prueba
4. Automatizar el proceso de construcci√≥n del dataset
5 Explorar y limpiar el dataset
6. Unir los DataSet

<a id="ordenar"></a>
# <font color=green>Transformaci√≥n, filtraci√≥n y ordenamiento de datos </font>

<a id="futuro"></a>
# <font color=green> Planes a futuro </font>

1. ¬øQu√© podemos hacer con los datos que tenemos?
2. ¬øQu√© nos gustar√≠a analizar?
3. ¬øQu√© informaci√≥n est√° disponible en los datos?
4. ¬øC√≥mo podriamos ayudar a entender mejor los datos usando gr√°ficas y visualizaciones?