<a href="https://colab.research.google.com/github/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/ProyectoPhytonGrupo7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green>Tabla de contenido</font>

[1. Identificación del problema](#problema)

[2. Planteamiento de Preguntas](#preguntas)

[3. Colección de Datos](#datos)

[4. Análisis Exploratorio de nuestro Dataset](#analisis)

[5. Limpieza de datos y agregaciones](#limpieza)

[6. Automatización y APIs](#API)

[7. Transformación, filtración y ordenamiento de datos](#ordenar)

[8. Planes a futuro](#futuro)

<a id="problema"></a>
# <font color=green>Identificación del Problema</font>

Para cualquier nuevo emprendedor, existe una serie de retos que lo abruman en su aventura de iniciar un nuevo negocio. La mayor incertidumbre es poder disponer de la información necesaria que lo apoye en la toma correcta de decisiones y así mitigar los riesgos de una mala inversión de tiempo y dinero.

Para esto, sería de gran ayuda proveerle a cada emprendedor de herramientas que le aporten información ordenada, certera y fidedigna; de tal forma que le otorgue seguridad y mayor certeza de si su idea será rentable o no.

Por lo tanto, sin lugar a duda, la **ciencia de datos** es la mejor herramienta que permitiría la creación de este tipo de herramientas de apoyo para un emprendedor y su nuevo negocio.

## Investigación al respecto del problema

En esta sección ira la investigación

## Búsqueda de soluciones anteriores

En esta sección irá las soluciones previas

<a id="preguntas"></a>
# <font color=green>Planteamiento de Preguntas </font>

De acuerdo con el problema planteado anteriormente, surgieron las siguientes preguntas tanto del emprendedor como del equipo:

1.  ¿Cuál es la mejor ubicación en Guadalajara, México para abrir mi negocio de bicicletas?
2. ¿Qué tantas ventas podré obtener en los primeros meses de iniciado mi negocio?
3. ¿Cuáles son los productos más demandados por los potenciales clientes?
4. ¿Qué precios serán los más competitivos para las bicicletas?
5. ¿Qué tan frecuente un cliente querrá comprar ropa o accesorios para sus bicicletas?
6. ¿Qué tantos clientes acudirán a mi negocio por una reparación o mejora en su bicicleta?

Aunque no tenemos seguridad si podremos responder todas las preguntas planteadas, se le comentó al emprendedor que se hará un análisis de la data disponible y se evaluará que información se le puede presentar.

<a id="datos"></a>
# <font color=green>Colección de Datos</font>
Se tomo la decision de usar "Bike Buyers 1000" y "Bike Sales", dado que contienen informacion relevante a la problematica sobre la cual se esta tratando y ambos datasets se complementan, los cuales fueron encontrados en kaggle.

"Bike Buyers 1000" 
link: "https://www.kaggle.com/datasets/heeraldedhia/bike-buyers"

"Bike Sales"
link: "https://www.kaggle.com/datasets/liyingiris90/bike-sales"

## Proceso para obtener el dataset

Dado que los archivos contenidos dentro del conjunto de datos de Bike Sales estan en formato .xlsx, se uso la funcion <font color =red> *pd.read_excel* </font> de pandas.

Para Bike Buyers al ser un formato csv, se usa nuestra funcion ya conocida  <font color =red> *pd.read_csv*</font>

Se importan las siguientes librerias...

In [1]:
import pandas as pd
import numpy as np

Se guardan los respectivos DataFrames del conjunto de datos <font color=blue> "bike sales"</font> y <font color=blue> "bike buyers"

In [21]:
compradores = pd.read_csv("https://raw.githubusercontent.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/bike_buyers.csv")

In [8]:
bikes = pd.read_excel('https://github.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/bikes.xlsx?raw=true')
bikestores = pd.read_excel("https://github.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/bikeshops.xlsx?raw=true")
orders = pd.read_excel("https://github.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/orders.xlsx?raw=true")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
orders

Procedemos a revisar cada DataFrame usando .head() y .tail(), asi como .dtypes, .columns y .shape

In [23]:
compradores.dtypes #Se tienen flotantes que deberian de ser enteros.
compradores.shape #Se tienen 1000 entradas y 13 columnas.
compradores.columns # ID, Marital S, Gender, Income, Children, Education, Occupation, Home Owner, Cars, Commute Distance, Region, Age, purchase bike
compradores.head() # Se observan NaN 
compradores.tail() 
c=list(compradores.columns)

Se crea la siguiente funcion para determinar NaNs entre los distintos DataFrames

In [38]:
def numero_nans(dataframe):
    print(dataframe.isna().sum())

In [34]:
def porcentaje_nans(dataframe):
  print(dataframe.isna().sum()/len(dataframe)*100)

In [85]:
comp_names = {c[0]:'id_comprador',
              c[1]:'estado_civil',
              c[2]:'genero',
              c[3]:'sueldo',
              c[4]:'hijos',
              c[5]:'educacion',
              c[6]:"profesion",
              c[7]:"posee_casa",
              c[8]:'coches',
              c[9]:'distancia_d_viaje',
              c[10]:'estado',
              c[11]:'edad',
              c[12]:'bicicleta_adquirida'}

In [86]:
compradores= compradores.rename(columns=comp_names) #Se renombran columnas para que el leector tenga una mayor comprenhesion de las columnas.

In [71]:
#Se tienen un total de 53 Nans en el dataframe compradores, que representa al 5.3% de los datos

#Hay 4 Nans en hijos y en 4 Nans en Coches, por lo que estas columnas seran rellenadas con 0s. Mientras que posee_casa con No. 
#Por otro lado, estado civil sera llenado con single. #Se eliminaran las filas de genero, edad y sueldo. 
#porcentaje_nans(compradores_true) #El estado civil y el sueldo conforman aproximadamente 2% de los datos. 
#Solo se rellenara el Estado Civil. Y se eliminaran el resto de columnas con Nans.

id                     0
estado_civil           5
genero                 3
sueldo                 6
hijos                  4
educacion              0
profesion              0
posee_casa             2
coches                 4
distancia_d_viaje      0
estado                 0
edad                   4
bicicleta_adquirida    0
dtype: int64
id                     0.000000
estado_civil           1.039501
genero                 0.623701
sueldo                 1.247401
hijos                  0.831601
educacion              0.000000
profesion              0.000000
posee_casa             0.415800
coches                 0.831601
distancia_d_viaje      0.000000
estado                 0.000000
edad                   0.831601
bicicleta_adquirida    0.000000
dtype: float64

Se llanan las Nans.

In [94]:
compradores[['hijos','coches']] = compradores[['hijos','coches']].fillna(0)
compradores['estado_civil'] = compradores['estado_civil'].fillna('Single')
compradores['posee_casa'] = compradores['posee_casa'].fillna('No')
compradores =compradores.dropna(how='any')
#numero_nans(compradores)
compradores = compradores.reset_index(drop=True) #Nos queda un data frame con el 97.7% de nuestro conjunto de datos inicial.

In [95]:
compradores

,id,estado_civil,genero,sueldo,hijos,educacion,profesion,posee_casa,coches,distancia_d_viaje,estado,edad,bicicleta_adquirida
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes
4,13507,Married,Female,10000.0,2.0,Partial College,Manual,Yes,0.0,1-2 Miles,Europe,50.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,13466,Married,Male,80000.0,5.0,Partial College,Professional,Yes,3.0,1-2 Miles,North America,46.0,No
973,23731,Married,Male,60000.0,2.0,High School,Professional,Yes,2.0,2-5 Miles,North America,54.0,Yes
974,28672,Single,Male,70000.0,4.0,Graduate Degree,Professional,Yes,0.0,2-5 Miles,North America,35.0,Yes
975,19664,Single,Male,100000.0,3.0,Bachelors,Management,No,3.0,1-2 Miles,North America,38.0,No
976,12121,Single,Male,60000.0,3.0,High School,Professional,Yes,2.0,10+ Miles,North America,53.0,Yes

Se transforman los datos del dataframe

In [98]:
b=compradores.columns
b_map = {b[4]:int,
         b[8]:int,
         b[11]:int}
compradores = compradores.astype(b_map)

In [99]:
compradores.dtypes

id                       int64
estado_civil            object
genero                  object
sueldo                 float64
hijos                    int64
educacion               object
profesion               object
posee_casa              object
coches                   int64
distancia_d_viaje       object
estado                  object
edad                     int64
bicicleta_adquirida     object
dtype: object

In [100]:
compradores

,id,estado_civil,genero,sueldo,hijos,educacion,profesion,posee_casa,coches,distancia_d_viaje,estado,edad,bicicleta_adquirida
0,12496,Married,Female,40000.0,1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,No
1,24107,Married,Male,30000.0,3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,No
2,14177,Married,Male,80000.0,5,Partial College,Professional,No,2,2-5 Miles,Europe,60,No
3,25597,Single,Male,30000.0,0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Yes
4,13507,Married,Female,10000.0,2,Partial College,Manual,Yes,0,1-2 Miles,Europe,50,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,13466,Married,Male,80000.0,5,Partial College,Professional,Yes,3,1-2 Miles,North America,46,No
973,23731,Married,Male,60000.0,2,High School,Professional,Yes,2,2-5 Miles,North America,54,Yes
974,28672,Single,Male,70000.0,4,Graduate Degree,Professional,Yes,0,2-5 Miles,North America,35,Yes
975,19664,Single,Male,100000.0,3,Bachelors,Management,No,3,1-2 Miles,North America,38,No
976,12121,Single,Male,60000.0,3,High School,Professional,Yes,2,10+ Miles,North America,53,Yes

In [102]:
compradores.groupby(['bicicleta_adquirida','genero','']).size()

bicicleta_adquirida  genero
No                   Female    250
                     Male      258
Yes                  Female    236
                     Male      233
dtype: int64

In [67]:
compradores.groupby(['genero','estado_civil'],dropna=False).size()

genero  estado_civil
Female  Married         108
        Single          130
        NaN               1
Male    Married         120
        Single          115
        NaN               4
NaN     Married           1
        Single            2
dtype: int64

Se tomara la decision de crear un nuevo DataFrame, de tal forma que este sea formado por todos aquellos que compraron una bicicleta. El cual nos servira para complementar el conjunto de datos "Bike Sales".

In [25]:
compradores.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,24381,Single,NaN,70000.0,0.0,Bachelors,Professional,Yes,1.0,5-10 Miles,Pacific,41.0,Yes
4,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes

Se observa que Children, Cars y Age son de tipo float cuando deberian de ser de tipo int. Por lo que procederemos a cambiar el tipo de dato. Por otro lado, renombraremos las columnas asi como el formato de los nombres a snake_case.

In [ ]:
compradores_names = {'ID':'id',
               Matiras}

<a id="analisis"></a>
# <font color=green>Análisis Exploratorio de nuestro Dataset</font>

En esta sección se busco responder las siguientes preguntas:

1. ¿El conjunto de datos que tengo realmente me sirve para responder algunas de las preguntas que me planteé?
> Luego de un primer analisis, se encont´ro que los data sets si pueden responder algunas de las preguntas planteadas ...
2. ¿Qué tamaño tiene mi conjunto de datos? ¿Serán datos suficientes?
> El tamaño de los distintos datasets son ...
3. ¿Qué columnas tengo y qué información tengo en cada una de esas columnas?
> Combinado cada uno de los dat sets y usando la funcion "" de pandas, se tienen las siguientes columnas.
4. Los nombres que tienen mis columnas, ¿son el nombre más apropiado?
> Para una mejor comprensión de los datos, se decició cambiar los nombres de las columnas a nombres más aporpiados, usando la función "".
5. ¿Qué tipos de datos tengo en cada columna? ¿Parecen ser el tipo correcto de datos? ¿O es un tipo de datos "incorrecto"?
> Algunas columnas tenias tipos de datos no muy utiles pra las siguientes fases de la ciencia de datos, por lo que se deicidió cambairlos usando las funciones "" y "".
6. Si selecciono algunas filas al azar y las observo, ¿estoy obteniendo los datos que debería? ¿o hay datos que parecen estar "sucios" o "incorrectos"?
> Se observó algunos datos incorrectos o faltantes, por lo que se procedió a limpiarlos usando las funciones "", "", ...

<a id="limpieza"></a>
# <font color=green> Limpieza de datos y agregaciones </font>

En esta sección hicimos una limpieza de nuestros dataSets. Para ello, se sigueron los siguientes pasos:

1. Encontrar los NaNs que contiene
> Para determinar si los DataFrames tenian valores NaNs, se utilizó el metodo de pandas ".isna().sum()" para obtener la cantidad de Nans de cada columna.
Tras realizar este metodo a nuestro primer data frame ("Bike Sales") nos damos cuenta que este no presenta Nans. Mientras que nuestro segundo data frame ("Bike Buyers 1000") si presenta Nans. 
2. ¿Qué se hicieron con los NaNs?
> 
3. Reindexo del DataSet

4. Agregaciones al DataFrame

<a id="API"></a>
# <font color=green> Automatización y APIs </font>

Dado que se encontró un API interesante para el problema que se pelanteó, se decició usar uno y aplicar los pasos requeridos en esta sección, asi como el mismo analisis que se aplicó en las secciones nateriores. Para esto, se siguieron los siguientes pasos:

1. Encontrar el API
2. Leer la documentación
3. Realizar algunas peticiones de prueba
4. Automatizar el proceso de construcción del dataset
5 Explorar y limpiar el dataset
6. Unir los DataSet

<a id="ordenar"></a>
# <font color=green>Transformación, filtración y ordenamiento de datos </font>

<a id="futuro"></a>
# <font color=green> Planes a futuro </font>

1. ¿Qué podemos hacer con los datos que tenemos?
2. ¿Qué nos gustaría analizar?
3. ¿Qué información está disponible en los datos?
4. ¿Cómo podriamos ayudar a entender mejor los datos usando gráficas y visualizaciones?