<a href="https://colab.research.google.com/github/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/ProyectoPhytonGrupo7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green>Tabla de contenido</font>

[1. Identificaci√≥n del problema](#problema)

[2. Planteamiento de Preguntas](#preguntas)

[3. Colecci√≥n de Datos](#datos)

[4. An√°lisis Exploratorio de nuestro Dataset](#analisis)

[5. Limpieza de datos y agregaciones](#limpieza)

[6. Automatizaci√≥n y APIs](#API)

[7. Transformaci√≥n, filtraci√≥n y ordenamiento de datos](#ordenar)

[8. Planes a futuro](#futuro)

<a id="problema"></a>
# <font color=green>Identificaci√≥n del Problema</font>

Para cualquier nuevo emprendedor, existe una serie de retos que lo abruman en su aventura de iniciar un nuevo negocio. La mayor incertidumbre es poder disponer de la informaci√≥n necesaria que lo apoye en la toma correcta de decisiones y as√≠ mitigar los riesgos de una mala inversi√≥n de tiempo y dinero.

Para esto, ser√≠a de gran ayuda proveerle a cada emprendedor de herramientas que le aporten informaci√≥n ordenada, certera y fidedigna; de tal forma que le otorgue seguridad y mayor certeza de si su idea ser√° rentable o no.

Por lo tanto, sin lugar a duda, la **ciencia de datos** es la mejor herramienta que permitir√≠a la creaci√≥n de este tipo de herramientas de apoyo para un emprendedor y su nuevo negocio.

## Investigaci√≥n al respecto del problema

En esta secci√≥n ira la investigaci√≥n

## B√∫squeda de soluciones anteriores

En esta secci√≥n ir√° las soluciones previas

<a id="preguntas"></a>
# <font color=green>Planteamiento de Preguntas </font>

De acuerdo con el problema planteado anteriormente, surgieron las siguientes preguntas tanto del emprendedor como del equipo:

1.  ¬øCu√°l es la mejor ubicaci√≥n en Guadalajara, M√©xico para abrir mi negocio de bicicletas?
2. ¬øQu√© tantas ventas podr√© obtener en los primeros meses de iniciado mi negocio?
3. ¬øCu√°les son los productos m√°s demandados por los potenciales clientes?
4. ¬øQu√© precios ser√°n los m√°s competitivos para las bicicletas?
5. ¬øQu√© tan frecuente un cliente querr√° comprar ropa o accesorios para sus bicicletas?
6. ¬øQu√© tantos clientes acudir√°n a mi negocio por una reparaci√≥n o mejora en su bicicleta?

Aunque no tenemos seguridad si podremos responder todas las preguntas planteadas, se le coment√≥ al emprendedor que se har√° un an√°lisis de la data disponible y se evaluar√° que informaci√≥n se le puede presentar.

<a id="datos"></a>
# <font color=green>Colecci√≥n de Datos</font>
Se tomo la decision de usar "Bike Buyers 1000" y "Bike Sales", dado que contienen informacion relevante a la problematica sobre la cual se esta tratando y ambos datasets se complementan, los cuales fueron encontrados en kaggle.

"Bike Buyers 1000" 
link: "https://www.kaggle.com/datasets/heeraldedhia/bike-buyers"

"Bike Sales"
link: "https://www.kaggle.com/datasets/liyingiris90/bike-sales"

## Proceso para obtener el dataset

Dado que los archivos contenidos dentro del conjunto de datos de Bike Sales estan en formato .xlsx, se uso la funcion <font color =red> *pd.read_excel* </font> de pandas.

Para Bike Buyers al ser un formato csv, se usa nuestra funcion ya conocida  <font color =red> *pd.read_csv*</font>

Se importan las siguientes librerias...

In [1]:
import pandas as pd
import numpy as np

Se guardan los respectivos DataFrames del conjunto de datos <font color=blue> "bike sales"</font> y <font color=blue> "bike buyers"

In [2]:
compradores = pd.read_csv("https://raw.githubusercontent.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/bike_buyers.csv")

In [3]:
bikes = pd.read_excel('https://github.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/bikes.xlsx?raw=true')
bikestores = pd.read_excel("https://github.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/bikeshops.xlsx?raw=true")
orders = pd.read_excel("https://github.com/hvasquez28/g1-ds_santander-f2-team7-Phyton/blob/Norberto/Entrega_Final_Procesamiento_DanielTapia_LuisZanabria_NorbertoPena_HaroldVasquez/datasets/orders.xlsx?raw=true")

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Procedemos a revisar cada DataFrame usando <font color=blue> .head() </font> y <font color=blue>.tail()  </font>, asi como <font color=blue> .dtypes, .columns, .shape, .loc[$n:m$] </font> (donde $n,m ‚àà ùñ≠$ y $n<m.$)

In [ ]:
compradores.dtypes #Se tienen flotantes que deberian de ser enteros.
compradores.shape #Se tienen 1000 entradas y 13 columnas.
compradores.columns # ID, Marital S, Gender, Income, Children, Education, Occupation, Home Owner, Cars, Commute Distance, Region, Age, purchase bike
compradores.head() # Se observan NaNs
compradores.tail() # Se observan NaNs
c=list(compradores.columns) # Se guarda el nombre de las columnas en una lista, que sera usada mas adelante para cambiar los nombres de nuestro dataframe. 
compradores.loc[500:515] # Se observan Nans.

In [ ]:
bikes.dtypes # El unico data que parecer ser incorrecto es el precio, que es de tipo int. 
bikes.shape # Se tienen un total de 97 filas con 5 columnas
bikes.columns # bike.id, model, category1, category2, frame, price. Se renombraran columnas.
bikes.head() #No se observan Nans.
bikes.tail() #No se observan Nans.
bc=list(bikes.columns)
bikes.loc[46:58] # No se observan Nans de forma aleatoria

In [ ]:
bikestores.dtypes # Todos los datos tienen el tipo correcto.
bikestores.shape # Se tienen un total de 30 filas con 6 columnas
bikestores.columns # bikeshop.id , bikeshop.name, bikeshop.city, bikeshop.state, latitude , longitude. Se renombraran columnas.
bikestores.head() # No se observan Nans.
bikestores.tail() # No se observan Nans.
bs=list(bikestores.columns)
bikestores.loc[10:25] #No se observan Nans.

In [ ]:
orders.dtypes # Se observa que order.id, order.line, customer.id y product.id son de tipo flotante cuando deberian de ser de tipo entero.
orders.shape # Tiene un total de 15644 filas y 7 columnas. 
orders.columns #'Unnamed: 0', 'order.id', 'order.line', 'order.date', 'customer.id','product.id' y 'quantity'. Se renombraran las columnas.
oc=list(orders.columns) 
orders.head() #No se observan Nans, por otro lado, se observa que la columna 'Unnamed: 0' esta repetida. 
orders.tail() # No se observan Nans. 
orders.loc[10468:10480] # no se observan Nans.

Se crean diccionarios para cambiar el nombre de las columnas de nuestros data frames.

In [91]:
comp_names = {c[0]:'id_comprador',
              c[1]:'estado_civil',
              c[2]:'genero',
              c[3]:'sueldo',
              c[4]:'hijos',
              c[5]:'educacion',
              c[6]:"profesion",
              c[7]:"posee_casa",
              c[8]:'autos',
              c[9]:'distancia_d_viaje',
              c[10]:'region',
              c[11]:'edad',
              c[12]:'bicicleta_adquirida'}

bike_names = {bc[0]:'bike_id',
              bc[1]:'modelo',
              bc[2]:'categoria_1',
              bc[3]:'categoria_2',
              bc[4]:'aleacion',
              bc[5]:'precio'}

stores_nombres = {bs[0]:'id_tienda',
                  bs[1]:'nombre_tienda',
                  bs[2]:'ciudad',
                  bs[3]:'estado',
                  bs[4]:'latitud',
                  bs[5]:'longitud'}

orders_nombres = {oc[1]:'id_orden',
                  oc[2]:'orden_line',
                  oc[3]:'orden_date',
                  oc[4]:'id_tienda',
                  oc[5]:'bike_id',
                  oc[6]:'numero_items'}

Nos percatamos del hecho, de que la columna customer_id es realmente el id_tienda. Dado que ambas coinciden con el numero de entradas y los valores asociados a cada una.

In [74]:
print(orders['customer.id'].unique().max() )# Customer id es realmente bikeshop_id
print(orders['customer.id'].unique().min() ) # Minimo en la lista.
print(len(orders['customer.id'].unique()) ) # Tama√±o de la lista.

30.0
1.0
30

Renombramos columnas en los DataFrames.

In [92]:
compradores = compradores.rename(columns=comp_names)
orders = orders.rename(columns=orders_nombres)
bikes = bikes.rename(columns=bike_names)
stores =  bikestores.rename(columns=stores_nombres)

In [85]:
compradores

,id_comprador,estado_civil,genero,sueldo,hijos,educacion,profesion,posee_casa,coches,distancia_d_viaje,region,edad,bicicleta_adquirida
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,24381,Single,NaN,70000.0,0.0,Bachelors,Professional,Yes,1.0,5-10 Miles,Pacific,41.0,Yes
4,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,60000.0,2.0,High School,Professional,Yes,2.0,2-5 Miles,North America,54.0,Yes
996,28672,Single,Male,70000.0,4.0,Graduate Degree,Professional,Yes,0.0,2-5 Miles,North America,35.0,Yes
997,11809,Married,NaN,60000.0,2.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,North America,38.0,Yes
998,19664,Single,Male,100000.0,3.0,Bachelors,Management,No,3.0,1-2 Miles,North America,38.0,No
999,12121,Single,Male,60000.0,3.0,High School,Professional,Yes,2.0,10+ Miles,North America,53.0,Yes

Se llanan las Nans.

In [ ]:
compradores[['hijos','coches']] = compradores[['hijos','coches']].fillna(0)
compradores['estado_civil'] = compradores['estado_civil'].fillna('Single')
compradores['posee_casa'] = compradores['posee_casa'].fillna('No')
compradores =compradores.dropna(how='any')
#numero_nans(compradores)
compradores = compradores.reset_index(drop=True) #Nos queda un data frame con el 97.7% de nuestro conjunto de datos inicial.

In [ ]:
compradores

,id,estado_civil,genero,sueldo,hijos,educacion,profesion,posee_casa,coches,distancia_d_viaje,estado,edad,bicicleta_adquirida
0,12496,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,24107,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,14177,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,25597,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes
4,13507,Married,Female,10000.0,2.0,Partial College,Manual,Yes,0.0,1-2 Miles,Europe,50.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,13466,Married,Male,80000.0,5.0,Partial College,Professional,Yes,3.0,1-2 Miles,North America,46.0,No
973,23731,Married,Male,60000.0,2.0,High School,Professional,Yes,2.0,2-5 Miles,North America,54.0,Yes
974,28672,Single,Male,70000.0,4.0,Graduate Degree,Professional,Yes,0.0,2-5 Miles,North America,35.0,Yes
975,19664,Single,Male,100000.0,3.0,Bachelors,Management,No,3.0,1-2 Miles,North America,38.0,No
976,12121,Single,Male,60000.0,3.0,High School,Professional,Yes,2.0,10+ Miles,North America,53.0,Yes

Se transforman los datos del dataframe

In [ ]:
b=compradores.columns
b_map = {b[4]:int,
         b[8]:int,
         b[11]:int}
compradores = compradores.astype(b_map)

In [ ]:
compradores.groupby(['bicicleta_adquirida','genero','']).size()

bicicleta_adquirida  genero
No                   Female    250
                     Male      258
Yes                  Female    236
                     Male      233
dtype: int64

In [ ]:
compradores.groupby(['genero','estado_civil'],dropna=False).size()

genero  estado_civil
Female  Married         108
        Single          130
        NaN               1
Male    Married         120
        Single          115
        NaN               4
NaN     Married           1
        Single            2
dtype: int64

Se tomara la decision de crear un nuevo DataFrame, de tal forma que este sea formado por todos aquellos que compraron una bicicleta. El cual nos servira para complementar el conjunto de datos "Bike Sales".

<a id="analisis"></a>
# <font color=green>An√°lisis Exploratorio de nuestro Dataset</font>

En esta secci√≥n se busco responder las siguientes preguntas:

1. ¬øEl conjunto de datos que tengo realmente me sirve para responder algunas de las preguntas que me plante√©?
> Luego de un primer analisis, se encontr√≥ que los data sets si pueden responder algunas de las preguntas planteadas. Sobre todo aquellos que se refieren economicamente. Es decir, se puede responder el numero de ventas iniciales por mes, el precio mas vendido, asi como los modelos mas demandados en bicletas, asi como sus caracteristicas que las componene.

2. ¬øQu√© tama√±o tiene mi conjunto de datos? ¬øSer√°n datos suficientes?
> El tama√±o del dataset "bike sales" es lo suficientemente grande para obtener informacion relevante. Dado que esta compuesto por 15644 ordenes, que componen alrededor de 4 a√±os. Mientras que los diferentes tipos de bicletas dan un total de 97. Aparte, hay 30 tiendas distribuidas en diferentes regiones del mundo. Mientras que se tienen 1000 entradas respecto a clientes. 

3. ¬øQu√© columnas tengo y qu√© informaci√≥n tengo en cada una de esas columnas?
> Se tienen alrededor de 31 columnas, 

4. Los nombres que tienen mis columnas, ¬øson el nombre m√°s apropiado?
> Para una mejor comprensi√≥n de los datos, se decici√≥ cambiar los nombres de las columnas a nombres m√°s aporpiados, usando la funci√≥n "".
5. ¬øQu√© tipos de datos tengo en cada columna? ¬øParecen ser el tipo correcto de datos? ¬øO es un tipo de datos "incorrecto"?
> Algunas columnas tenias tipos de datos no muy utiles pra las siguientes fases de la ciencia de datos, por lo que se deicidi√≥ cambairlos usando las funciones "" y "".
6. Si selecciono algunas filas al azar y las observo, ¬øestoy obteniendo los datos que deber√≠a? ¬øo hay datos que parecen estar "sucios" o "incorrectos"?
> Se observ√≥ algunos datos incorrectos o faltantes, por lo que se procedi√≥ a limpiarlos usando las funciones "", "", ...

<a id="limpieza"></a>
# <font color=green> Limpieza de datos y agregaciones </font>

En esta secci√≥n hicimos una limpieza de nuestros dataSets. Para ello, se sigueron los siguientes pasos:

1. Encontrar los NaNs que contiene
> Se crean funciones para determinar NaNs entre los distintos DataFrames.
Tras realizar este metodo a nuestro primer data frame ("Bike Sales") nos damos cuenta que este no presenta Nans. Mientras que nuestro segundo data frame ("Bike Buyers 1000") si presenta Nans. 
2. ¬øQu√© se hicieron con los NaNs?
> Para nuestro DataFrame "Bike Buyers 1000", se tienen un total de 53 NaNs, que representa al 5.3% de los datos. Tras aplicar nuestra funcion *numero_nans* observamos que hay en hijos, autos, estado_civil, genero, sueldo, posee_casa y edad.

>> Para las filas con Nans de las columnas hijos y coches, estas seran llenadas con 0s. Mientras que para posee_casa y estado civil, con No y Single respectivamente. El resto de las filas con Nans seran eliminadas del DataFrame.  
  
3. Reindexo del DataSet

4. Agregaciones al DataFrame

In [90]:
numero_nans(compradores)

id_comprador            0
estado_civil            7
genero                 11
sueldo                  6
hijos                   8
educacion               0
profesion               0
posee_casa              4
coches                  9
distancia_d_viaje       0
region                  0
edad                    8
bicicleta_adquirida     0
dtype: int64

Se crean las siguientes funciones para determinar NaNs entre los distintos DataFrames.

In [86]:
def numero_nans(dataframe):
    print(dataframe.isna().sum())

In [87]:
def porcentaje_nans(dataframe):
  print(dataframe.isna().sum()/len(dataframe)*100)

In [ ]:
porcentaje_nans(orders)
porcentaje_nans(bikestores)
porcentaje_nans(bikes)
porcentaje_nans(compradores) #El unico DataFrame con Nans presentes, es el de Compradores.

Unnamed: 0     0.0
order.id       0.0
order.line     0.0
order.date     0.0
customer.id    0.0
product.id     0.0
quantity       0.0
dtype: float64
bikeshop.id       0.0
bikeshop.name     0.0
bikeshop.city     0.0
bikeshop.state    0.0
latitude          0.0
longitude         0.0
dtype: float64
bike.id      0.0
model        0.0
category1    0.0
category2    0.0
frame        0.0
price        0.0
dtype: float64
ID                  0.0
Marital Status      0.7
Gender              1.1
Income              0.6
Children            0.8
Education           0.0
Occupation          0.0
Home Owner          0.4
Cars                0.9
Commute Distance    0.0
Region              0.0
Age                 0.8
Purchased Bike      0.0
dtype: float64

In [ ]:
compradores[['hijos','coches']] = compradores[['hijos','coches']].fillna(0)
compradores['estado_civil'] = compradores['estado_civil'].fillna('Single')
compradores['posee_casa'] = compradores['posee_casa'].fillna('No')
compradores =compradores.dropna(how='any')
#numero_nans(compradores)
compradores = compradores.reset_index(drop=True) #Nos queda un data frame con el 97.7% de nuestro conjunto de datos inicial.

<a id="API"></a>
# <font color=green> Automatizaci√≥n y APIs </font>

Dado que se encontr√≥ un API interesante para el problema que se pelante√≥, se decici√≥ usar uno y aplicar los pasos requeridos en esta secci√≥n, asi como el mismo analisis que se aplic√≥ en las secciones nateriores. Para esto, se siguieron los siguientes pasos:

1. Encontrar el API
2. Leer la documentaci√≥n
3. Realizar algunas peticiones de prueba
4. Automatizar el proceso de construcci√≥n del dataset
5 Explorar y limpiar el dataset
6. Unir los DataSet

<a id="ordenar"></a>
# <font color=green>Transformaci√≥n, filtraci√≥n y ordenamiento de datos </font>

<a id="futuro"></a>
# <font color=green> Planes a futuro </font>

1. ¬øQu√© podemos hacer con los datos que tenemos?
2. ¬øQu√© nos gustar√≠a analizar?
3. ¬øQu√© informaci√≥n est√° disponible en los datos?
4. ¬øC√≥mo podriamos ayudar a entender mejor los datos usando gr√°ficas y visualizaciones?